*{
    font-family: "Roboto";
}

#portfolio-hero {
    height: 300px;
}

section.portfolio-section {
    background-color: #d0d0d0;
}

.portfolio-hero{
    height: 30vh;
}

.personal-name{
    padding-top: 0%;
}

padding: 0px;
.name-position {
    height: 500px;
    width: 80%;
}

div.personal-info-item{
    width: 24.3%;
    display: inline-block;
}

p.personal-info-description {
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
}
i.info-item-icon {
    margin: 0.25em;
    font-size: 1em;
    color: #D2691EFF;
}