/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*{
    font-family: Roboto !important;
}

.portfolio {
    width: 100%;
    display: flex;
}

.right-section {

    padding: 2%;
    flex-basis: 70%;
    height: 100vh;
    background-color: #ff56f6;
}
.left-section {
    flex-basis: 30%;
    width: 100%;
    height: 100%;
    background-color: chocolate;
}

#portfolio-profile-picture {
    display: relative;
    overflow: hidden;
}

#portfolio-profile-picture  img {
    display: absolute;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.portfolio-owner{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.portfolio-owner .full-name{
    font-size: 7rem;
}

.portfolio-owner .role {
    font-size: 3rem;
    font-weight: 200;
    margin: 0.5rem auto;
}

.portfolio-owner .download-resume-button{
    margin-top: 1rem;
    width: 10rem;
    background-color: #ff56f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 3px;
}
.portfolio-owner .download-resume-button > a{
    text-decoration: none
}

.section-header{
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.skill-set-title{
    font-size: 1.5rem;
    margin: 10px;
}

.skill-set-mastery{
    height: 2rem;
    display: flex;
    width: 100%;
    background-color: aqua;
    align-items: center;
    margin: 1rem 0;
}

.mastery{
    background-color: red;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#C {
    flex-basis: 65%;
}

#Java {
    flex-basis: 55%;
}

.portfolio-owner-achievement{
    display: flex;
    width: 100%;
    height: 7rem;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.achievement-item {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: tan;
    width: 100%;
    height: 100%;
}

.achievement-number{
    font-size: 2.5rem;
}
.achievement-text{
    padding-top: 0.5rem;
}